

.main{
    display: flex;
}
h3{
    margin-bottom: 50px;
    color: #250e53;
}

.m-list{
    width: 250px;
    height: 100vh;
    color: rgb(136, 154, 154);
    border-right: 3px solid rgb(239, 239, 239);
    margin-left: 50px;
}

.p-i:hover{
    border-right: 3px solid #250e53;
}
.pm-i{
    border-right: 3px solid #250e53;
}
.pm-i{
    width: 100%;

    height: 50px;
   
  
}
i{
    margin-right: 10px;
}
.p-i{
    width: 100%;

    height: 50px;
   
    border-right: none;
}
.log-out{
    margin-top: 350px;

}
.list a{
    color:#5790AB ;
    text-decoration: none;
}


















.img{
    display: flex;
   margin:100px 0 0 200px ;
  


}
.img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #250e53;
    margin-right: 10px;
 
}
.m-pf{
  margin-top: 100px;
}
.pf{
    font-size: 7px;
    display: inline-block;
}
.inputs{
    display: flex;
   
   
}
.inputs input{
    margin: 0 100px 0 50px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(209, 208, 208);
    background-color: rgb(246, 246, 246);
    color: #250e53;
}
.m-main{
    width: 100%;
    display: flex;
    align-items: center;
  
}
.p-input{
    margin-left: 50px;
    margin-bottom: 3px;
   
}
.inpu{
    margin-top:50px ;
}
.button{
    width: 600px;
}
button{
    width: 200px;
    height: 40px;
    margin: 50px  0 0 250px;
    background-color:  #250e53;
    border-radius: 10px;
    border: 2px solid rgb(209, 208, 208);
    color: aliceblue;
    transition: .7s ease;
}
button:hover{
    transform: scale(1.1);
    background-color:  #3c6071;
}
i{
    color: #250e53;
}